dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.DS_Store
goat/GoatLexer.hs
goat/Goat
*.out
*.swp
oz/oz

oz/oz
goat/Stage1/testCase/GeneratedOutput/*.txt
goat/Stage3/oz
goat/Stage3/Goat
goat/Stage3/*.symtable
goat/Stage3/testCase/GeneratedOutput/*.txt
goat/Stage3/testCase/GeneratedOutput/miles/*.txt
goat/Stage3/testCase/GeneratedOutput/peers/*.txt
goat/Stage3/testCase/GeneratedOutput/visible/*.txt
goat/Stage3/testCase/GeneratedOutput/*.oz
goat/Stage3/testCase/GeneratedOutput/miles/*.oz
goat/Stage3/testCase/GeneratedOutput/peers/*.oz
goat/Stage3/testCase/GeneratedOutput/visible/*.oz
